header{
    position: sticky;
    top: 0;
    background: #FEFAF7;
}

.add-button-container
{
    width: 70%;
    height: 100px;
    margin: 0 auto;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;

    button {
        width: 175px;
        height: 45px;
        cursor: pointer;
        
        font-size: 1.2rem;
        font-weight: 550;

        border: none;
        border-radius: 12px;
    }

    .cancel-btn{
        background: #FF0015;
        color: #fff;
    }

    .add-btn{
        background: #000;
        color: #fff;
    }
}