<!-- header components -->

<header>
    <app-header></app-header>
    <div class="add-button-container">
        <button class="add-btn" *ngIf="!addActiveState" (click)="changeState(true)">Add Recipe</button>
        <button class="cancel-btn" *ngIf="addActiveState" (click)="changeState(false)">Cancel</button>
    </div>
</header>

<!-- Add Component -->
@if (addActiveState) {
<app-add-recipe (updateState)="changeState($event)"></app-add-recipe>
}

<!-- For Routes -->
<router-outlet></router-outlet>