.explore-container{
    width: 70%;
    margin: 50px auto;

    .category-chips{
        width: 100%;
        
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin: 50px 0;

        .chip{
            font-size: 1.25rem;
            padding: 12px 15px;
            border-radius: 8px;
            background: #c9c9c9;
            color: #000;
            border: none;
            cursor: pointer;
            transition: all 250ms ease;

            &:hover{
                background: #000;
                color: #fff;
            }
        }
        .chip-active{
            background: #000;
            color: #fff;
        }
    }
}

.recipe-by-category{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  
  .recipe-by-category-container {
      width: 100%;
      overflow: hidden;
      overflow-y: scroll;
      margin:0 auto;
      
      display: flex;
      flex-direction: column;
      gap: 5px;
  }
  
  .recipe-container-items {
    width: 100%;
      height: 200px;
      margin: 0 auto;
    
      display: flex;
      align-items: center;
      gap: 25px;
    
      img {
        width: 150px;
        height: 150px;
        object-fit: contain;
        object-position: center;
        border-radius: 12px;
        border: 1px solid #c9c9c9;
      }
    
      .text {
          display: flex;
          flex-direction: column;
  
          h2 {
              font-size: 1.5rem;
              font-weight: 600px;
          }
      
          p {
              width: 90%;
  
              font-size: 1rem;
              color: gray;
      
              overflow: hidden;
              text-overflow: ellipsis;
          }
      }
    }
    
    a{
      &:hover{
        color: gray;
      }
    }