<nav>
    <a routerLink="/">
        <h1>Recipe App</h1>
    </a>
    <form action="" [formGroup]="formData" (ngSubmit)="handleSubmit()">
        <input type="text" id="search-text" placeholder="Search for recipes" formControlName="searchItem">
        <button type="submit">
            <mat-icon>search</mat-icon>
        </button>
    </form>

    <div class="header-shortcuts">
        <div class="your-recipes">
            <a routerLink="/my-recipes">
                <span>My Recipes</span>
            </a>
            <mat-icon>fastfood</mat-icon>
        </div>

        <div class="explore">
            <a routerLink="/explore">
                <span>Explore</span>
            </a>
            <mat-icon>explore</mat-icon>
        </div>
    </div>

</nav>