@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital@0;1&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: "Inter";
}

h1,h2,h3,h4,h5,h6{
    font-family: "DM Serif Display";
}

form{
    width: 800px;
    height: 800px;
    border: 1px solid red;
    margin: auto;

    label{
        font-size: 1.2rem;
        color: #00000090;
    }

    input,textarea{
        width: 350px;
        height: 40px;
        
        font-size: 1.2rem;
        font-weight: 500;
        
        text-indent: 12px;
        border: 1px solid #c9c9c9;
        border-radius: 8px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
